/* ===========================================
    RESET CSS BEGIN*
   =========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
body {
    line-height: 1;
    font-family: "Montserrat", sans-serif;
}
ol,ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
/*RESET CSS END*/


/* ===========================================
    HELPER CLASS BEGIN
   =========================================== */
.alignLeft {
    float: left;
}
.alignRight {
    float: right;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
strong,
b {
    font-weight: 700;
}
em,
i {
    font-style: italic;
}
p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}
ul li,
ol li {
    margin-bottom: 10px;
}
img {
  max-width: 100%;
}
* {
    box-sizing: border-box;
    outline: 0;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.clear{clear:both;}
/*HELPER CLASS END*/


/* ===========================================
    NAV BAR STYLING  //  START
   =========================================== */
header {
  background: transparent;
  width: 100%;
  position: relative;
}
header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.85);
  transform: translateY(-200%);
  transition: 0.2s;
  z-index: 5;
}
body.scroll header.sticky {
  transform: translateY(0);
}
.nav-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 1px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 0;
}
nav.nav-wrapper ul li a {
  font-size: 17px;
  line-height: 22px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
  transition: 0.3s;
}
nav.nav-wrapper ul li a:hover {
  border-bottom: 1px solid white;
}

header .logo img {
  max-width: 70px;
}
/*Navigation Bar styling  //  END*/


/* ===========================================
    PARALLAX PAGE STYLES  //  START
   =========================================== */
.cover-main {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/home-page-images/cool.gif') right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
ul#scene li.name {
  text-align: center;
  font-size: 40px;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  width: 100%;
}
ul#scene li.title {
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  color: white;
  width: 100%;
  margin-top: 60px;
}
ul#scene {
  margin-top: 100px;
}
.btn {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}
.portfolio-btn,
.contact-btn {
  margin: 0 auto;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid white;
  background: transparent;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
.portfolio-btn {
  margin-right: 30px;
}
.contact-btn {
  margin-left: 30px;
}
.portfolio-btn:hover,
.contact-btn:hover {
  background: white;
  color: black;
  text-decoration: none;
}
/*PARALLAX PAGE STYLES END*/


/* ===========================================
    MASONRY JS STYLES  //  START
   =========================================== */
.masonry-grid {
  position: relative;
}
.grid {
  margin: 0 auto;
}
.grid-item {
  width: 450px;
  margin-bottom: 10px;
}
h2.sub-title {
  position: relative;
  display: block;
  margin: 70px auto;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
}
h2.sub-title::after {
  display: block;
  height: 2px;
  background-color: black;
  content: "";
  width: 100px;
  margin: 30px auto 0 auto;
}
/*MASONRY JS STYLES END*/


/* ===========================================
    APP IMAGES STYLES  //  START
   =========================================== */
.app-image {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align:center;
}
.app-image .fadedbox {
  background-color: #666666;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 450px;
  height: 100px;
  padding: 50px 20px 100px;
}
.app-image:hover .fadedbox { opacity: 0.8; }
.app-image .text {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}
.app-image .title {
  font-size: 2.5em;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}
.app-image:hover .title,
.app-image:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
/*APP IMAGE STYLE END*/


/* ===========================================
    I LOVE PYTHON STYLES  //  START
   =========================================== */
section.beating-heart {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/home-page-images/python-pic.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
  padding: 50px 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
section.beating-heart span {
  font-size: 100px;
  line-height: 105px;
}
section.beating-heart h2 {
  margin-bottom: 30px;
}
section.beating-heart h2::after {
  background: white;
}
.heart {
  position: relative;
  width: 150px;
  margin: 0 50px;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.25);
  }
  25% {
    transform: scale(1.15);
  }
  35% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
/*I LOVE PYTHON STYLES END*/


/* ===========================================
     FOOTER STYLES //  START
=============================================*/
footer {
  position: relative;
  z-index: -2;
  height: 150px;
  background: black;
  color: white;
  text-align: center;
}
footer h1 {
  position: fixed;
  font-size: 20px;
  line-height: 25px;
  color: white;
  font-weight: bold;
  text-align: center;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  width: 800px;
  z-index: 1;
}
/*FOOTER STYLES END*/

/* ============= RESPONSIVE max-width: 991p =========== */
@media (max-width: 991px){
}
/* ============= RESPONSIVE max-width: 768px =========== */
@media (max-width: 768px){
}
/* ============= RESPONSIVE max-width: 385px=========== */
@media (max-width: 385px){
}